
/*内容标题*/
.content h1,
.content h2,
.content h3 {
    border-left-style: solid;
    border-left-color: #5A83DE;
    border-left-width: 6px;
    border-radius: 7px;
    padding-left: 25px;
    color: #5A83DE !important;
}

.content h4,
.content h5,
.content h6 {
    border-left-style: solid;
    border-left-color: #5A83DE;
    border-left-width: 5px;
    border-radius: 5px;
    padding-left: 15px;
    color: #5A83DE !important;
}

.set h2,
.timeline h2,
.timeline h3 {
    border-left-style: none;
    padding-left: 0;
    color: #333333 !important;
}

/*更新时间*/
.updated {
    width: 100%;
    height: 50px;
    background-color: #FFF7DE;
    border-radius: 10px;
    line-height: 50px;
    margin-top: 30px;
}

.updated div {
    width: 10px;
    height: 50px;
    background-color: #F9B907;
    border-radius: 10px 0px 0px 10px;
    float: left;
    margin-right: 20px;
}

.updated span {
    font-size: 15px;
    color: #A57900;
    font-weight: bold;
}

/*帖子封面*/
.post_cover {
	width: 100%;
	height: 56.2vw;
	position: relative;
	pointer-events: none;
}

.post_cover img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	z-index: 0;
}

.post_cover .post_cover_mask {
	width: 100%;
	height: 100%;
	position: absolute; 
	background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.8));
	z-index: 0;
}

.post_cover .post_text {
	width: 90%;
	position: absolute;
	color: #ffffff;
	margin: 0 auto;
	z-index: 2;
	left: 5vw;
	bottom: 5rem;
}

.post_cover .post_text h1 {
	font-size: 2.5rem;
	font-weight: bold;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom: 10px;
}

.post_cover .post_text div .post-tags-list-item {
	background-color: #333333;
}

.post_cover .post_text div .post-tags-list-item a {
	color: #ffffff;
	pointer-events: auto;
}

.stuff {
	margin-bottom: 30px;
}
